body {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: "Open Sans", sans-serif; }

#container {
  width: 900px;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px; }

.xlFontSize {
  font-size: 40px; }

.mdFontSize {
  font-size: 35px; }

.smFontSize {
  font-size: 25px; }

.pricingBox {
  width: 200px;
  height: 300px;
  float: left;
  font-size: 35px;
  padding: 25px;
  margin: 20px; }

#leftBox {
  border: 4px solid #25ced1; }

#middleBox {
  border: 4px solid #ffc857; }

#rightBox {
  border: 4px solid #5e2bff; }

.boxTitle {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-bottom: 23px;
  margin-top: 40px; }

.cost {
  font-size: 70px;
  font-weight: bold;
  display: block;
  margin-bottom: 23px; }

.boxDesc {
  font-size: 13px;
  display: block;
  margin-bottom: 23px; }

.getStarted {
  width: 150px;
  height: 40px;
  letter-spacing: 1px;
  font-size: 18px;
  margin: auto;
  color: white;
  line-height: 40px; }

#getStarted1 {
  background-color: #25ced1; }

#getStarted2 {
  background-color: #ffc857; }

#getStarted3 {
  background-color: #5e2bff; }

footer {
  font-size: 13px; }

.link {
  color: #25ced1;
  text-decoration: none; }
  .link:visited {
    color: #25ced1; }

/*# sourceMappingURL=app.css.map */
