//variables
$xlFontSize:40px;
$mdFontSize:35px;
$smFontSize:25px;
$xsFontSize:13px;

$blue:#25ced1;
$yellow:#ffc857;
$violet:#5e2bff;
$font-fam:'Open Sans', sans-serif;
body{
  margin:0;
  padding:0;
  font-size:40px;
  font-family: $font-fam;
}
#container{
  width:900px;
  height:100%;
  margin:auto;
  text-align:center;
  padding-top:50px;
}
.xlFontSize{
  font-size:$xlFontSize;
}
.mdFontSize{
  font-size:$mdFontSize;
}
.smFontSize{
  font-size:$smFontSize;
}
.pricingBox{
  width:200px;
  height:300px;
  float:left;
  font-size:$mdFontSize;
  padding:25px;
  margin:20px;
}
#leftBox{
  border:4px solid $blue;
}
#middleBox{
  border:4px solid $yellow;
}
#rightBox{
  border:4px solid $violet;
}
.boxTitle{
  font-weight:bold;
  font-size:20px;
  display:block;
  margin-bottom:23px;
  margin-top:40px;
}
.cost{
  font-size:70px;
  font-weight:bold;
  display:block;
  margin-bottom:23px;
}
.boxDesc{
  font-size:$xsFontSize;
  display:block;
  margin-bottom:23px;
}
.getStarted{
  width:150px;
  height:40px;
  letter-spacing:1px;
  font-size:18px;
  margin:auto;
  color:white;
  line-height:40px;
}
#getStarted1{
  background-color:$blue;
}
#getStarted2{
  background-color:$yellow;
}
#getStarted3{
  background-color:$violet;
}
footer{
  font-size:$xsFontSize;
}
.link{
  color:$blue;
  text-decoration:none;
  &:visited{
    color:$blue;
  }
}
